body {
    background-color: aqua !important;
    text-align: center !important;
}

h1 {
    font-size: 40px !important;
}

h2 {
    font-size: 40px !important;
}

h3 {
    font-size: 40px !important;
}

h4 {
    font-size: 40px !important;
}

h5 {
    font-size: 40px !important;
}

h6 {
    font-size: 40px !important;
}

h7 {
    font-size: 40px !important;
}

h8 {
    font-size: 40px !important;
}

h9 {
    font-size: 40px !important;
}

h10 {
    font-size: 40px !important;
}

h11 {
    font-size: 40px !important;
}

h12 {
    font-size: 40px !important;
}

h13 {
    font-size: 40px !important;
}

h14 {
    font-size: 40px !important;
}

h15 {
    font-size: 40px !important;
}

h16 {
    font-size: 40px !important;
}

p {
    font-size: 25px !important;
}


img {
    height: 300px !important;
    width: 300px;
}
